{% extends 'base.html' %}

{% block title %}
  <title>Регистрация токена провалилась</title>
{% endblock %}

{% block content %}
  <main>
    <div class="py-5 text-center">
      <h2>Регистрация токена</h2>
      <p class="lead">
        Проверка работоспособности формы регистрации токена платежной карты
      </p>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ошибка при регистрации токена!</h4>
      </div>
      <hr class="my-4">
    </div>
    {% if form_fields %}
      <div class="row g-5">
        <div class="col-12">
          <h4>Информация о ошибке</h4>
          <form action="{{ form_action }}" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row g-3">
              <div class="col-12">
                <label for="id_ERROR_CODE" class="form-label">ERROR_CODE</label>
                <input style="background-color:#e8e8e8;" type="text" class="form-control" name="ERROR_CODE" value="{{ form_fields.ERROR_CODE }}" id="id_ERROR_CODE" readonly>
              </div>
              <div class="col-12">
                <label for="id_ERROR_MESSAGE" class="form-label">ERROR_MESSAGE</label>
                <input style="background-color:#e8e8e8;" type="text" class="form-control" name="ERROR_MESSAGE" value="{{ form_fields.ERROR_MESSAGE }}" id="id_ERROR_MESSAGE" readonly>
              </div>
              <div class="col-12">
                <label for="id_BrowserData" class="form-label">BrowserData</label>
                <textarea style="background-color:#e8e8e8;" rows="5" class="form-control" name="BrowserData" id="id_BrowserData" readonly>{{ form_fields.BrowserData }}</textarea>
              </div>
              <hr class="my-4">
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </main>
{% endblock %}
